body
{
 margin:0;
}

header
{
  background: #007bff;
  color: #fff;
  padding: 8px 0px 6px 40px;
  height:45px;
  justify-content: space-between;
}

header h1{
            display:inline;
            font-family: 'Arial', sans-serif;
            font-weight:400;
            font-size:32;
            float:left;
            margin-top:0px;
            margin-right:10px;
}

nav ul{
     display:inline;
     padding: 0px;
     float: left;
}

nav ul li{
     display:block;
     list-style-type:none;
     color:white;
     float:left;
     margin-left:12px;
}

nav ul li a{
               color:white;
               text-decoration:none;
}

#nav{
          font-family: 'Arial', sans-serif;
}

.line:hover{
  background-color:black;
  padding: 30x 10px 11px 10px;
}
  section {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  article {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
  }

  article h3 {
      margin-bottom: 5px;
      color: #007bff; /* Adjust the color of the book title */
  }

  article p {
      margin: 5px 0;
      color: #555; /* Adjust the color of the text */
  }

  article strong {
      color: #333; /* Adjust the color of the strong text (Author, Genre) */
  }

  footer {
      text-align: center;
      padding: 20px;
      background-color: #007bff;
      color: #fff;
  }