body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: Arial, sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 2px;
  text-align: center;
}

header h1{
  color: white;
  font-family: Arial, sans-serif;
  display:inline;
}
 

nav ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  color: #fff;
  display: inline;
  margin-right: 15px;
}

nav ul li a{
  font-family: Arial, sans-serif;
  color:white;
  text-decoration:none;
  }
  

section {
  margin: 20px;
}

footer {
  font-family: Arial, sans-serif;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}



.book {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.book h2 {
  font-family: Arial, sans-serif;
  margin-top: 0;
}

.book button {
  font-family: Arial, sans-serif;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.book button:hover {
  font-family: Arial, sans-serif;
  background-color: #007bff;
}

footer {
  font-family: 'Arial', sans-serif;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.image {
  background-image: url(books.jpeg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.trainingsub {
  font-family: 'Arial', sans-serif;
  margin: 0% 0% 0% 55%;
  background: white;
  color: black;
  border: 50px;
  font-size: 1.4em;
  padding: 0.1em;
  cursor: pointer;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  border-radius: 5px;
  
}

.buttontraining {
  margin: 0% 0% 0% 55%;
  background: white;
  color: black;
  border: 50px;
  font-size: 1.4em;
  padding: 0.1em;
  cursor: pointer;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  border-radius: 5px;
  
}



.a {
  width: 200px;
  background: blue;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
              1px 1px 5px rgba(0, 0, 0, 0.3);
}

.h2 {
  font-family: Arial, sans-serif;
  width: 200px;
  background:white;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
              1px 1px 5px rgba(0, 0, 0, 0.3);
}

.buttontraining:hover {
  background: #333;
  color: #e3e3e3;
}

footer p {
  margin: 0;
}

#search-bar {
  margin-right: 20px;
}

#search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

#search-bar button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-bar button:hover {
  background-color: #007bff;
}

img {
  max-width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
  bottom: auto;
}

@media (max-width: 768px) {
  header {
      padding: 5px;
  }

  nav ul {
      text-align: center;
      margin-top: 10px;
  }

  nav li {
      display: block;
      margin-bottom: 10px;
  }
}
